CoIDE/cheali-charger/Debug/**
CoIDE/cheali-charger.cogui
CoIDE/cheali-charger.comarker
src/hardware/atmega32/CMakeFiles/
src/hardware/atmega32/cmake_install.cmake
src/hardware/atmega32/Makefile
src/hardware/atmega32/targets/*/backup/
src/hardware/atmega32/targets/*/cheali-charger-*_atmega32
src/hardware/atmega32/targets/*/cheali-charger-*_atmega32.bin
src/hardware/atmega32/targets/*/cheali-charger-*_atmega32.eep
src/hardware/atmega32/targets/*/cheali-charger-*_atmega32.hex
src/hardware/atmega32/targets/*/cheali-charger-*.size
src/hardware/atmega32/targets/*/CMakeFiles/
src/hardware/atmega32/targets/*/cmake_install.cmake
src/hardware/atmega32/targets/*/Makefile
.cproject
.project
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
src/core/Version.h
